{{ define "IndexLogin" }}
    {{ template "Header" }}
    <br/>
    <!--div class="container-fluid vh-100"-->
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                {{if.}}
                    <div class="alert alert-danger" role="alert">
                        {{.}}
                    </div>
                {{end}}
                <form method="post" action="/login">
                    <div class="form-group">
                        <input class="form-control" placeholder="User" name="name" type="text" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-block">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{ template "Footer" }}
{{ end }}